html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    /* border: 1px solid black; 
    margin: 0 auto;
    height: 10em;
    width: 25%; */
}

#display {
    height: 2em;
    
}

#up {
    font-size: smaller;
    /* margin-bottom: 0.5em; */
}